
body {
	background: url(../img/bck.png) top repeat-x #0c739f;
	font-size: 14px;
	font-family: Tahoma;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.main {
	width: 1000px;
	margin: 0 auto;
	background-color: #fff;
	box-shadow: 0 3px 8px rgba(0,0,0,0.8); 
}


/* header */

header {
	color: #128aa7;
}

.logo {
	position: relative;
	float: left;
	margin: 11px 0 0 28px;
}

.logo img {
	display: block;
}

.slogan {
	position: absolute;
	top: 98px;
	left: 72px;
	font-size: 12px;
}

.hd_right_sect {
	width: 350px;
	float: right;
	padding: 0 30px 0 0;
}

.contacts {
	float: right;
	margin: 5px 4px 0 0;
}

.contacts span {
	display: block;
	font-size: 12px;
	line-height: 17px;
}

.contacts span:first-child {
	line-height: 22px;
}

.contries {
	float: right;
	margin: 34px 0 0 0;
}

.contries li {
	float: left;
}
.contries li a img {
	display: block;
	margin: 0 7px 0 7px;	
}

.contries li a span {
	display: block;
	font-size: 10px;
	text-align: center;
	text-decoration: underline; 
	color: #128aa7;
}

/*central_part*/

.top_image {
	height: 235px;
	border-top: 1px solid #128aa7;
	border-bottom: 1px solid #128aa7;
}

/*-menu*/

.menu {
	padding-left: 30px;
	background-color: #303030;
	font-size: 14px;
	border-top: 1px solid #cacbcb;
	border-bottom: 1px solid #000;
	box-shadow: 0 2px 5px rgba(0,0,0,0.9);
	position: relative; /* for shadow visibility */
}

.menu li {
	float: left; 
	display: block;
	position: relative; 
}

.menu li a {
	display: block;
	padding: 0 32px;
	line-height: 28px;
	color: #fff;
	text-decoration: none;
}

.menu li a:hover {
	text-decoration: underline;
}

.sub_menu {
	display: none;
	position: absolute; 
	left: 22px;
	top: 28px; 
	width: 100%;
	background-color: #303030;
	box-shadow: 0 5px 5px rgba(0,0,0,0.9);
}

.sub_menu li {
	float: none;
}

.sub_menu li a {
	padding: 0 10px 5px 10px;
	line-height: 24px;
}

.sub_menu li:first-child a {
	border-top: 1px solid #000; 
}

.menu li:hover .sub_menu {
	display: block;
}


/*-content*/

.content {
	background: url(../img/content.png) repeat-y;
	color: #424c43;
	line-height: 24px;
}

.content h2 {
	font-size: 18px;
	text-align: center;
}

.info, .c_block, .news {
	padding: 10px 15px;
	float: left;
}

.info, .news {
	width: 180px;
}

.c_block {
	width: 550px;
}

/*footer*/

footer p {
	text-align: center;
	line-height: 34px;
	font-size: 12px;
	color: #fff;
}