body {
	background-color: #eeeeee;
	font-size: 18px;
	font-family: "Times New Roman", sans-serif;
}

.main {
	width: 412px;
	margin: auto;
	padding: 30px 50px 40px;
	background-color: #ffffff;
	box-shadow: 0 0 4px 0 #9e9e9e;
}

h2 {
	text-align: center;
	font-size: 22px;
}

.photo {
	text-align: center;
	line-height: 0;
}

.job {
	margin: 10px 0 15px;
}

ul {
	padding-left: 25px;
}

ul, .fb {
	margin-top: 30px;
}

header, .reasons, .contacts, .feedback {
	padding: 0 13px;
	line-height: 26px;
}

header, .reasons, .contacts {
	border-bottom: 1px solid grey; 
}