body {
	background-color: #eeeeee;
}

header {
	padding: 0 10px;
}

h2 {
	text-align: center;
	font-size: 22px;
}

.photo {
	display: block;
	margin: auto;
}

.job {
	margin: 10px 0 15px;
} 

.cv {
	height: 690px;
	width: 412px;
	margin: auto;
	padding: 30px 50px 30px;
	font-size: 18px;
	font-family: "Times New Roman", sans-serif;
	background-color: #ffffff;
	box-shadow: 0 0 4px 0 #9e9e9e;
}

hr {
	height: 1px;
	background:#7a7a7a;
	border: none;
}

ul {
	padding-left: 25px;
}

li:first-child, .fb {
	margin-top: 30px;
}

.reasons, .contacts, .feedback {
	padding: 0 10px;
	line-height: 26px;
}